@import "tailwindcss";
@tailwind utilities;

:root {
  --foreground: #474747;
  --font-johnstemp: 'johnstemp', sans-serif;
}

body {
  background: url("/background.png") repeat 0 0;
  background-size: auto 100%;
  color: var(--foreground);
  font-family: var(--font-johnstemp);
  font-weight: 500;
}

a {
  text-decoration: underline;
}
